.container {
  margin: 20px auto;
  width: 600px;
  height: 400px;
  padding: 0px 20px 20px 20px;
  border: 20px groove #BCA181;
  border-radius: 100px;
  border-bottom-right-radius: 400px;
  border-bottom-left-radius: 400px;
  background-color: #71c47c;
  font-family: 'Lucida Console';
}

h1 {
  font-family: ‘Lucida Console’;
  text-align: center;
  margin: 5px 0px;
}

form {
  text-align: center;
}

.errors {
  text-align: center;
  color: red;
}

.hidden {
  display: none;
}

#player-info {
  text-align: center;
  margin: 0px 0px;
  font-size: 150%;
}

#bet-input {
  width: 50px;
  text-align: center;
}

#current-bet {
  text-align: center;
  font-size: 110%;
  margin: 5px;
}
