.container {
  margin: 20px auto;
  width: 600px;
  height: 400px;
  padding: 0px 20px 20px 20px;
  border: 20px groove #BCA181;
  border-radius: 100px;
  border-bottom-right-radius: 400px;
  border-bottom-left-radius: 400px;
  background-color: #71c47c;
  font-family: 'Lucida Console';
}

h1 {
  font-family: ‘Lucida Console’;
  text-align: center;
  margin: 5px 0px;
}

form {
  text-align: center;
}

.errors {
  text-align: center;
  color: red;
}

.hidden {
  display: none;
}

#player-info {
  text-align: center;
  margin: 0px 0px;
  font-size: 150%;
}

#bet-input {
  width: 50px;
  text-align: center;
}

#current-bet {
  text-align: center;
  font-size: 110%;
  margin: 5px;
}

#current-bet-number {
  text-align: center;
  font-size: 110%;
  margin: 0px;
}

.hand {
  margin-top: 15%;
  float: left;
  border: 1px dashed red;
  text-align: center;
  width: 100px;
  height: 150px;
}

.hand h3 {
  margin: 2px;
}

#player-hand {
  margin-left: 20%;
}

#dealer-hand {
  margin-left: 26%;
}

.total {
  color: purple;
  margin: 2px;
}

.card {
  margin: 2px;
}

.controls {
  text-align: center;
}
.controls form {
  text-align: center;
  display: inline-block;
}

.controls input {
  width: 50px;
}

#redeal input{
  width: 100px;
}



