<div class='container'>
  <div class ='summary'>
    <h1>BLACKJACK</h1>
    <form id='start-button' action='#'>
      <input type='submit' value='play blackjack'>
    </form>
    <form id='player-setup-form' class='hidden' action='/players' method='post'>
      <label name='name'>Name: </label>
      <input type='text' name='name'>
      <input id='setup-button' type='submit' value='start game'>
    </form>
  </div>
  <div class ='play-area'>
    <p id='player-info'></p>
    <form id='player-bet-form' class='hidden' action='#'>
      <input id ='bet-input' type='text' name='bet' placeholder='bet'>
      <input id = 'bet-button' type='submit' value='deal'>
    </form>
    <p id='current-bet'></p>
    <p id='current-bet-number'></p>
    <div id='player-hand' class='hand'>
      <h3>You</h3>
      <h4 id='player-total' class='total'></h4>
      <div id='player-cards' class='card'></div>
    </div>
    <div id='dealer-hand' class='hand'>
      <h3>Dealer</h3>
      <h4 id='dealer-total' class='total'></h4>
      <div id='dealer-cards' class='card'></div>
    </div>
  </div>
</div>
<div class='controls hidden'>
  <form id='hit' action="#"><input type="submit" value='hit'></form>
  <form id='stay' action="#"><input type="submit" value='stay'></form><br>
  <form id='redeal' action="#"><input type="submit" value='re-deal'></form>
</div>
<div class ='errors'>
</div>
