<div class='container'>
  <div class ='summary'>
    <h1>BLACKJACK</h1>
    <% if @errors %>
      <p class='errors'><%= @errors %></p>
    <% end %>
    <form id='start-button' action='#'>
      <input type='submit' value='play blackjack'>
    </form>
    <form id='player-setup-form' class='hidden' action='/players' method='post'>
      <label name='name'>Name: </label>
      <input type='text' name='name'>
      <input id='play-button' type='submit' value='start game'>
    </form>
  </div>
  <div class ='play-area'>
    <form id='player-bet-form' class='hidden' action='#'>
      <label name='bet'>Bet: </label>
      <input type='text' name='bet' placeholder='enter bet'>
      <input type='submit' value='deal'>
    </form>
  </div>
</div>
